In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("insurance_pre.csv")

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [8]:
nomindata = pd.get_dummies(dataset, dtype=int,drop_first=True)
nomindata

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
nomindata.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [31]:
indep = nomindata[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [32]:
dep = nomindata[['charges']]

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(indep,dep, test_size = 0.5 , random_state =0)

In [34]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor = regressor.fit(X_train,y_train)

In [35]:
weight = regressor.coef_
weight

array([[  256.53810649,   349.1916238 ,   529.31880647,  -289.91929237,
        23376.62737069]])

In [36]:
bias = regressor.intercept_
bias

array([-12821.33369697])

In [39]:
#Evaluation
y_pred = regressor.predict(X_test)

In [40]:
# R Score
from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_pred)
r_score

0.7656836303421459